@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* // <uniquifier> Use a unique and descriptive class name
// <weight>: Use a value from 200 to 1000 */

.profile{
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: clamp(40px, 5vw + 1rem, 60px)

}

.para{
    /* width: 60%; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    /* position: relative; */
    /* left: 3rem; */
    /* background : linear-gradient(to right, #fac37b, transparent); */
}

.para ::before{
    content: "";
    background-color: black;
    width: 30px;
    height: 1px;
    position: absolute;
    left: -2.75rem;
    top: 0.8rem;
}


  